.container {
  flex-direction: column;
  padding: 48px 48px;
}

.textContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: black;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.dogIcon {
  color: #fff;
  width: 30px;
  height: 30px;
}

.emailInputContainer {
  flex-direction: column;
  width: 75%;
}

.continueButton {
  margin: 16px 0px 24px 0px;
  width: 100%;
}

.bottomText {
  font-size: 12px;
  color: gray;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .container {
    box-sizing: border-box;
    justify-content: start;
    width: 50%;
    min-height: calc(100vh - 128px);
    height: auto;
    /* align-items: center; */
    flex-direction: column;
    padding: 48px 48px;
    /* gap: 34px; */
    border-radius: 24px;
    box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
